.bs-docs-masthead,
.bs-docs-header {
	position: relative;
	padding: 30px 0;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background: #cc0600; /* Old browsers */
	background: -moz-linear-gradient(top,  #cc0600 0%, #cf0404 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #cc0600 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #cc0600 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0600', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}
.bs-docs-header h1 {
	margin-top: 0;
	color: #fff;
	font-size: 72px;
}
div.row {
	padding: 100px;
	border-bottom: 1px solid #e5e5e5;
}